@use '../scss/util/' as u;
.file_container{
    margin-inline: auto;
    width: min(65%,400px);
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    font-size:u.$file_content;
    background-color: u.$malite_c;
    position: relative;
    box-shadow: inset 3px 3px 0px 1px rgba(0, 0, 0, 0.17);
    border-radius: 16px;
    
    &_heading{
        font-weight: 500;
    }
    
    .file_pin_icon{
        color: u.$purple_c;
        
    }
    
    .file_remove_button{
        color: u.$redPink_c;
        font-size: 1rem;
        display: flex;
        position: absolute;
        right: .8rem;
        font-size:u.$file_content;
        //    margin: auto;
    }
}